body{
	background:#fff;
	margin:0;
	font-family:Helvetica;
	position: absolute;
	
}

.h2{
	text-align: center;
	font-weight: 100;
	color:#777;
}

.div-formulario{
	width:400px;
	margin:auto;
	margin-top:30px;
	height: 180px
}

.div-formulario input{
	display: block;
	border:none;
	border-bottom:1px solid #777;
	width:100%;
	margin-top:10px;
	padding-top:7px;
	font-size:16px;
	outline: none;
}

.div-formulario .boton-registar-alumno{
	width:120px;
	background-color:none;
	margin:auto;
	padding:10px;
	font-size:17px;
	font-weight: 100;
	margin-top:8px;
	cursor: pointer;

}

#tabla-alumnos thead{
	text-align: center;
	position:sticky;
	top:1px;
}

.div-tabla{
	overflow-y: auto;
	overflow-x: auto;
	margin-top:20px;
	height: calc(100% - 180px - 57px);
	width:calc(100% - 40px);
	margin-left:20px;
	position: relative;
	
}

#tabla-alumnos {
	height: auto;
	width: 100%;
	/*min-width: 1000px;
	overflow-x: scroll;*/

}


body{
	background:#fff;
	position:absolute;
	width:100%;
	height:100%;
	margin:0px;
	font-family:Helvetica;
}

.div-navegacion{
	width:100%;
	background:#48e;
	color:#fff;
	height:57px;

}


/*@media (max-width:800px){
	
	
}*/

.div-section{
	width:100%!important;
}
.mensajes{
	width:100%!important;
}
.div-aside{
	position:absolute!important;
	z-index:100;
	height:calc(100% - 57px);
	background:red;
}
.aside{
	height:auto;
		


}

.div-agregar{
	position:relative!important;
	bottom:0!important;
}

.div-agregar a{
	text-decoration:none;
	color:#48e;
		
	width:100%;
	text-align:center;
	display:inline-block;
	margin-left:0!important;
	padding:5px 0px 5px 0px;
	margin-bottom:10px;	
}




.div-navegacion h1{
	margin:0;
	margin-left:30px;
	margin-top:-3px;
	font-weight: 700

}

.div-navegacion .barra-navegacion{
	height: 57px;
	width:300px;
	display: flex;
	margin: auto;
	
	position: absolute;
	top:15px;
	margin-left:calc(50% - 155px);

}



.div-navegacion li{
	
	list-style: none;
	text-align: center;
	width:150px;

}

.div-navegacion li a{
	
	color:#ddd;
	text-decoration:none;
	

}

.div-navegacion li a:hover{	
	text-decoration: underline;
}

.div-navegacion .seccion-actual{
	color:#fff;
	text-decoration: underline;
}


.div-navegacion li button:hover{
	background-color: #07e;
}
.div-navegacion li button{
	background-color: #48e;
	border:none;
	width:100%;
	height: 100%;
	text-align:left;
	padding:6px;
	color:#fff;
}


#a-estudents{
	margin:0;
	padding: 0;
	font-weight: 600;
	font-size:32px;
}

.div-rayas{
	width:35px;
	height:35px;
	display:flex;
	
}


.rayas{	
	margin-top:12px;
	margin-left:10px;
	cursor:pointer;
	

}



.div-navegacion .barra-navegacion{
	height: 57px;
	width:100px;
	display: flex;
	margin: auto;
	position: absolute;
	top:18px;
	right: 5px;

}



.div-navegacion li{
	
	list-style: none;
	text-align: left;
	
}
.foto-usuario{
	height:100%;
	position: absolute;
	right: 5px;
	margin-bottom: 15px;
	display: block;
	bottom:-5px;
	cursor: pointer;

}

.foto-usuario img{
	width:40px;
	height:40px;
	border-radius:50%;
	display:inline-block;
	background:#555;
	position:relative;
	margin-bottom: 50px

}

.div-navegacion ul li{
	list-style: circle;
	text-align: left;
	padding: 1px;
	width:120px;
}

.div-navegacion ul li:hover{
	background-color: #07e;
	

}

.div-navegacion li a{
	text-decoration: none;
	color:#fff;
	width: auto;
	display: block;
	padding: 5px;
}




li ul{
    display:none;
    position:absolute;
  
    right: 1px;
    transition:height 0.3s;
}


      
.barra-navegacion li ul {
    display:none;
	position:absolute;
	z-index:1000;
	background-color: #48e;
	border-radius: 5px;
	border:1px solid #fff;
	margin-top:38px;
	width:auto;
}
  
  .aside-section{
	width:100%;
}



#foto-role{
	display: block;
	width:400px;
	margin-left:calc(50% - 200px);
	height: 400px;
	
}

.foto-perfil{
	display: block;
}
.foto-perfil img{
	width:275px;
	height:275px;
	border-radius:50%;
	display:inline-block;
	background:#555;
	margin-left:calc(50% - 137.5px);
	margin-top:10px;
		

}

#foto-role h4, #foto-role h2{
	text-align:center;
}

#div-informacion{
	background: #48e3
	width:90%;
	margin-left:5%;
	display: flex;
	margin-right:5%;
}

#div-informacion div{
	width:50%;
	
}

#div-informacion div h5 {
	text-align:center;
	margin-top:30px;
	width:calc(100% - 80px );

	margin-bottom:10px;

}

#div-informacion div a{
	text-align:center;
	height:40px!important;
	margin-top:22px;
}

#div-informacion div div{
	width:auto;

	display: flex;
	margin:auto;
}