<!DOCTYPE html>
<html>
<head>
	<title>Estudenst - Inicio</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='icons/css/all.css') }}">
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body class="body">
	


	<div class="div-navegacion"> 
		<header>
			<div class="div-rayas">
				  <a class="rayas">
				   <!-- <svg width="30" height="30" id="icoOpen">
				        <path d="M0,5 30,5" stroke="#ddd" stroke-width="5"/>
				        <path d="M0,14 30,14" stroke="#ddd" stroke-width="5"/>
				        <path d="M0,23 30,23" stroke="#ddd" stroke-width="5"/>
				    </svg> -->
				    <i style="font-size:30px; color:#fff" class="fas fa-bars"></i>
				  </a>
				 	
				 	<div style="display: flex;height: 57px">
				 		<h1 style="margin-left:10px">
							<a href="/" class="text-decoration-none text-white" id="a-estudents">
							  	Estudents
							 </a>
			  			</h1>

			  		</div>

			  	
			</div>
				<div class="barra-navegacion">
				
			  		<li class="imagen-usuario"  id="imagen" >
			  			<div class="foto-usuario" id="m-desplegable"><img src="{{ url_for('static', filename='media/foto1.png') }}"></div>
				  		<ul class="ul">
						  	<li><a title="Ir A Inicio" href="/" class="text-decoration-none text-white"><i class="fas fa-home ml-4"></i>&nbsp;Inicio</a></li>
						  	<li><a title="Ver Mi Perfil" style="padding:0" class="text-decoration-none text-white btn-outline-primary"><form action="/Perfil" method="post"><input type="hidden" name="idE" value="{{ ide }}"><button><i class="fas fa-user-circle"></i>&nbsp;Ver Perfil</button></form></a></li>
						  
						  	<li><a title="Ver mis Materias" href="/materias" class="text-decoration-none text-white"><i class="fas fa-book-reader"></i>&nbsp;Materias</a></li>
						  	<li><a title="Cerrar Secciòn" href="/login" class="text-decoration-none text-white"><i class="fas fa-sign-out-alt"></i>&nbsp;Salir</a></li>
					  	</ul>
			  		</li>
			</div>


		</header>
	</div>



	<div class="aside-section">

			<div class="div-aside" id="div-aside" >
				<aside class="aside" id="aside"> 
					<h2><i class="fas fa-book"></i>&nbsp;Materias</h2>

					{% for materias in materia %}
					
					<hr> 
					<div class="contactos {{ materias.0 }}">
						<h3>{{ materias.1 }}</h3>
						<div class="foto-contacto"><img src="../static/media/materias/{{ materias.4 }}"></div>
					</div>

					{% endfor %}

				</aside>

				<div class="div-agregar" id="div-agregar"> 
					
				</div>
			</div>
		

		<section>
			<div class="mensajes mensajeria" id="mensajes">
				<div class="ventana-modal-imagenes"><div><h2> + Agregar Archivo</h2></div></div>
				<div class="div-mensaje">
					<div class="div-mensaje2 div-mensaje3">
						{% for dato in datos %}
							{% if dato.1 == ide %}
						
								<div class="mensajes-usuario">
									<p class="texto-mensaje">{{ dato.2 }}</p> 
								</div>
							{% else %}
								<div class="mensajes-amigos"> 
									<p class="nombre-mensaje">{{dato.4}}</p>
									<p class="texto-mensaje texto-mensaje-amigos">{{ dato.2 }}</p> 
								</div>
							{% endif %}
						
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="div-section" id="div-section">
				<div class="section">
					<div class="div-formulario">
							<div id="mas">
								<p class="boton-archivo" id="boton-archivo" title="Agregar Archivo"></p>
							</div>

							<div class="div-textarea">
								<textarea title="Escriba un mensaje" placeholder="Mensaje" class="input-mensaje myMessage" autocomplete="off" name="mensaje" id="myMessage"></textarea>
							</div>
							<div class="div-button">
								<input id="input-archivos" type="file" class="input-archivos" name="archivo">

								<button title="Enviar Mensaje" class="boton-enviar Button" id="Button">Enviar</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>

	<script type="text/javascript" src="../static/js/codigo.js"></script>
	

	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.min.js"></script>

	<script type="text/javascript" src="../static/js/eventos.js"></script>
	
	
</body>
</html>