<!DOCTYPE html>
<html>
<head>
	<title>Estudents - Login</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>

	<div class="div-formulario">
		<div>
			<h2>Estudents</h2>
			<form method="post">
				<input type="text" name="name" placeholder="Nombre">
				<input type="password" name="password" placeholder="Contraseña">
				<button class="btn btn-primary">Acceder</button>
			</form>
			<p>{% if mensaje!="" %} {{mensaje}} {% endif %}</p>
			<a href="/Registrarse" class="">Registrarse</a>
		</div>
	</div>



<script type="text/javascript" src="{{ url_for('static', filename='js/login.js') }}"></script>
</body>
</html>